body {
    margin: 0;
}

#game {
    width: 1300px;
    height: 649px;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    
}

#player {
    width: 100px;
    position: absolute;
    left: 100px;
    top: 100px;
}

.coin {
    width: 30px;
    position: absolute;
}